body {
  font-size: 20px;
}

#product-image {
  border: solid;
  padding: 10px;
  height: 500px;
  width: 400px;
  position: relative;
  display: block;
}

#product {
  padding: 10px;
  margin-left: 10px;
  position: relative;
  display: block;
  height: 520px;
  width: 420px;
}

#name {
  color: white;
  padding: 2.5px;
  width: 30px;
  position: relative;
  display: block;
  font-size: 25px;
  padding-left: 15px;
}

.top-bar-section ul li > a {
  font-size: 15px;
}