<!DOCTYPE HTML>
<html ng-app="shop">

  <head>
    <link rel="stylesheet" type="text/css" href="app/vendor/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="app/vendor/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="app/stylesheets/index.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <title>Shop</title>
  </head>

  <body ng-controller="mainCtrl">

  <header class="top-bar large-12" data-topbar role="navigation">

    <ul class="title-area large-2 medium-2">
      <li class='name'>
        <a id='name' ng-click="show('', 'all')">Shopfront</a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class='right'>
        <li class="has-dropdown" id='women-block'>
          <a id='women-button'>Women</a>
          <ul class="dropdown">
            <li id='womenCasualwear' ng-click="show('Womens Casualwear')">
              <a>Casualwear</a>
            </li>
            <li ng-click="show('Womens Formalwear')">
              <a>Formalwear</a>
            </li>
            <li ng-click="show('Womens Footwear')">
              <a>Footwear</a>
            </li>
          </ul>
        </li>
        <li class="has-dropdown" id='men-block'>
          <a id='men-button'>Men</a>
          <ul class="dropdown">
            <li id='menCasualwear' ng-click="show('Mens Casualwear')">
              <a>Casualwear</a>
            </li>
            <li ng-click="show('Mens Formalwear')">
              <a>Formalwear</a>
            </li>
            <li ng-click="show('Mens Footwear')">
              <a>Footwear</a>
            </li>
          </ul>
        </li>
        <li id='basketButton' ng-click='showBasket()'>
          <a>Basket</a>
        </li>
      </ul>
    </section>
  </header>

  <article id='items' ng-show='displayItems'>
    <item id="product" ng-repeat="product in list" ng-cloak class="two columns">
      <item id="product-image">
        <img ng-src="{{product.url}}"/>
        <item id='product-info'>
          <article>£{{product.price}}</article>
          <button id='productButton' ng-click='addToBasket(product)'>Add To Basket</button>
        </item>
      </item>
    </item>
  </article>

<!--   <main ng-show='displayBasket' ng-repeat='item in basket' ng-cloak>
    {{ item }}
  </main> -->

  <section id='basket' ng-show='displayBasket'>
    <main id='basketItem' ng-repeat='item in basket' ng-cloak>
      <img id='basketImage' ng-src="{{item.url}}"/>
      <text>{{ item.name }}</text>
      <text>£{{item.price}}</text>
      <button ng-click='deleteFromBasket(item)'>Delete</button>
    </main>
    <article ng-show='noProducts' class="ng-hide">No items :(</article>
  </section>

  <script src="app/vendor/modernizr.js"></script>
  <script src="app/vendor/jquery.js"></script>
  <script src="app/vendor/foundation.min.js"></script>
  <script src="app/vendor/foundation.topbar.js"></script>
  <script src="app/vendor/foundation.dropdown.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/vendor/foundation.js"></script>

  </body>
</html>