<!DOCTYPE HTML>
<html ng-app="shop">

  <head>
    <link rel="stylesheet" type="text/css" href="app/vendor/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="app/vendor/foundation.css"/>
    <link rel="stylesheet" type="text/css" href="app/stylesheets/index.css"/>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <title>Shop</title>
  </head>

  <body ng-controller="mainCtrl">

  <header class="top-bar large-12" data-topbar role="navigation">

    <ul class="title-area large-2 medium-2">
      <li class='name'>
        <a id='name' ng-click="show('', 'all')">Shopfront</a>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section id='itemAdded'>Added!</section>

    <section class="top-bar-section">
      <ul class='right'>
        <li class="has-dropdown" id='women-block'>
          <a id='women-button'>Women</a>
          <ul class="dropdown">
            <li id='womenCasualwear' ng-click="show('Womens Casualwear')">
              <a>Casualwear</a>
            </li>
            <li ng-click="show('Womens Formalwear')">
              <a>Formalwear</a>
            </li>
            <li ng-click="show('Womens Footwear')">
              <a>Footwear</a>
            </li>
          </ul>
        </li>
        <li class="has-dropdown" id='men-block'>
          <a id='men-button'>Men</a>
          <ul class="dropdown">
            <li id='menCasualwear' ng-click="show('Mens Casualwear')">
              <a>Casualwear</a>
            </li>
            <li ng-click="show('Mens Formalwear')">
              <a>Formalwear</a>
            </li>
            <li ng-click="show('Mens Footwear')">
              <a>Footwear</a>
            </li>
          </ul>
        </li>
        <li id='basketButton' ng-click='showBasket()'>
          <a>Basket</a>
        </li>
      </ul>
    </section>
  </header>

  <text id='items' ng-show='displayItems'>
    <item id="product" ng-repeat="product in list" ng-cloak class="two columns">
      <item id="product-image">
        <img id='image' ng-src="{{product.url}}"/>
        <item id='product-info'>
          <article>£{{product.price}}</article>
          <button id='productButton' ng-click='addToBasket(product)'>Add To Basket</button>
        </item>
      </item>
    </item>
  </text>

  <section id='basket' ng-show='displayBasket' ng-cloak>


    <main id='basketItem' ng-repeat='item in basket track by $index' ng-cloak>
      <a ng-click='removeFromBasket(item)' id='delete'>X</a>
      <img id='basketImage' ng-src="{{item.url}}"/>
      <text>{{ item.name }}</text> <text id='break'>|</text>
      <text>£{{item.price}}</text>
    </main>


    <article ng-show='totalPrice' class="ng-hide">
      <section ng-show='userVoucher' id='userVoucher'>
        Voucher: -£{{userVoucher.discount}}  
      </section>
      <section id='totalPrice'>
        Total Price: £{{totalPrice}}
      </section>
      <section id='voucher'>
        <input type='text' ng-model="voucherCode" placeholder='Enter voucher'>
        <button ng-click='checkVoucherValid({code: voucherCode})' id='voucherSubmit'>Submit</button>
      </section>
    </article>
    <article ng-show='noProducts' class="ng-hide" id='noItems'>No items :(</article>
    <button ng-click="show('')" id='continueShopping'>Continue Shopping</button>
  </section>

  <a href="#" data-reveal-id="stock" id='outOfStock'></a>

  <div id="stock" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle" ng-cloak>
      Out of stock! :(
    </h2>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <a href="#" data-reveal-id="myModal" id='invalidVoucher'></a>

  <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle" ng-cloak>
      Invalid voucher! :(
    </h2>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
  </div>

  <script src="app/vendor/modernizr.js"></script>
  <script src="app/vendor/jquery.js"></script>
  <script src="app/vendor/foundation.min.js"></script>
  <script src="app/vendor/foundation.topbar.js"></script>
  <script src="app/vendor/foundation.dropdown.js"></script>
  <script src="app/js/app.js"></script>
  <script src="app/js/controller.js"></script>
  <script src="app/js/productService.js"></script>
  <script src="app/js/basketService.js"></script>
  <script src="app/js/voucherService.js"></script>
  <script src="app/js/messageService.js"></script>
  <script src="app/js/watchService.js"></script>
  <script src="app/js/displayService.js"></script>
  <script src="app/vendor/foundation.js"></script>

  </body>
</html>